<div class="content">
    <div class="row" style="margin-bottom:1.3em;">
      <div class="col-md-4 text-left">
          <h6 class="al-title">Create Visits</h6>
      </div>
    </div>

    <form action="">
      <div class="row creatHeader">
        <div class="col md 3">
          <div class="form-group ">
              <label for="usr" class="plannum" >Plan Number
              <input type="text" class="form-control" id="usr" style="margin-left:0.4em;">
              </label>
          </div>
        </div>
        <div class="col md 3">
            <div class="form-check">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="">Day Plan
                </label>&nbsp;
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Week Plan
                </label>
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" value="">Duration Plan
                </label>
            </div>
            
        </div>
        <div class="col md 3 picker">
            <div class="input-group">
              <input type="text" ngxDaterangepickerMd  class="form-control" [(ngModel)]="selected" [showCancel]="true" placeholder="Date"/>
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-calendar"></i></span>
              </div>
            </div>
        </div>
        <div class="col md 3">
            <button type="submit" class="btn filter" >Copy <i class="far fa-copy"></i> </button>
            <button type="submit" class="btn filter" >Edit <i class="fas fa-pen"></i> </button>
            <button type="submit" class="btn filter" >Delete <i class="far fa-trash-alt"></i> </button>
            <button type="submit" class="btn save" >Assign</button>
        </div>
      </div>
      <div class="row creatHeader" style="padding:0px;">
        <div class="col-md-4 userCol">
              <div class="form-group ">
                  <input type="text" class="form-control" id="usr" placeholder="Select User" name="name" [(ngModel)]="user.name" style="width:80%">
              </div>
            <button type="submit" class="btn add" (click)="addUser()">Add</button>
            <div style="margin-top:2em;">
                <div *ngFor = "let emp of userArray" class="userSelect">
                        {{emp.name}} <i class="fas fa-trash-alt s" (click)="deleteuser($index)"></i>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="padding:2.5em 1em;" >
          <div class="row" style="margin:0px;">
                <div class="form-group ">
                    <input type="text" class="form-control custDetail" id="usr" placeholder="Select Customer" name="customer" [(ngModel)]="customer.name">
                </div>
                <div class="form-group" style="margin-left:1em;">
                    <input type="text" class="form-control custDetail" id="usr" placeholder="Contact Person" name="contact" [(ngModel)]="customer.contact">
                </div>
                <div class="form-group" style="margin-left:1em;">
                    <textarea class="form-control custDetail" rows="5" id="message" placeholder="Message" [(ngModel)]="customer.msg"></textarea>
                    <!-- <input type="text" class="form-control custDetail" id="usr" placeholder="message" name="message" [(ngModel)]="customer.msg"> -->
                </div>
                <div class="form-group" style="margin-top:0.6em">
                    <input type="file" name="pic" accept="image/*" style="font-size:0.75em;" [(ngModel)]="customer.attach">
                </div>
          </div>
            <button type="submit" class="btn add" (click)="addCustomer()" style="margin-top:-5.5em;">Add</button>
            <div style="margin-top:2em;">
                <div *ngFor = "let cust of customerArray" class="userSelect">
                    <strong>Customer Name:</strong> {{cust.name}} ; &nbsp; <strong>contact Person:</strong> {{cust.contact}} ; &nbsp; <strong>Message:</strong>  {{cust.msg}} <i class="fas fa-trash-alt s" (click)="deleteCustomer($index)"></i>
                </div>
            </div>
        </div>
        
      </div>
    </form>
</div>