<div class="content">
  <div class="row">
    <div class="col-md-4 text-left">
        <h6 class="al-title">Today Visits</h6>
      </div>
  </div>
  
  <div class="row">
    <div class="col md 2">
            <h6>
                    <span class="badge badge-info">Total Visits: &nbsp; 22</span>
                    <span class="badge badge-success">Closed Visits: &nbsp; 10</span>
                    <span class="badge badge-secondary">Day Visits: &nbsp; 10</span>
                    <span class="badge badge-warning">Week Visits: &nbsp; 22</span>
                    <span class="badge badge-danger">Duration Visits: &nbsp; 32</span>
            </h6>
    </div>
  </div>
<div class="animated fadeIn" style="margin-top:1em">
    <div class="row">
        <div class="col md 12">
            <div class="card">
                <div class="card-body" style="padding:0px;">
                  <table class="table " style="font-size:0.7em">
                    <thead>
                        <tr>
                            <th>Plan Type</th>
                            <th>Plan Number</th>
                            <th>Planned By</th>
                            <!-- <th>Plan Date</th> -->
                            <th>Customer</th>
                            <th>Contact Person</th>
                            <th>Message</th>
                            <th>Attachement</th>
                            <!-- <th>Created Date</th> -->
                            <th>Status</th>
                            <!-- <th *ngIf="Custom2">Custom2</th>
                            <th *ngIf="Custom3">Custom3</th>
                            <th *ngIf="Custom4">Custom4</th>
                            <th *ngIf="Custom5">Custom5</th> -->
                            <!-- <th>Approved Amount</th> -->
                        </tr>
                     </thead>
                     <!-- day -->
                    <tbody>
                        <tr>
                        <td rowspan="7" style="border-right: 1px solid #dee2e6;">Day</td>
                        </tr>
                        <tr *ngFor = "let pla of planList">
                                <td style="text-align:center;">{{pla.plan_no}}</td>
                                <td>{{pla.plan_by}}</td>
                                <!-- <td>{{pla.date_from}} {{pla.date_to}}</td> -->
                                <td>{{pla.customer}}</td>
                                <td>{{pla.contact_person}}</td>
                                <td>{{pla.msg}}</td>
                                <td style="text-align:center;"><i class="fas fa-download"></i></td>
                                <!-- <td>{{pla.createdDate}}</td> -->
                                <td>
                                    <i class="fas fa-question-circle" *ngIf="pla.status == 'Pending'"></i>
                                    <i class="fas fa-check-circle" *ngIf="pla.status == 'Completed'"></i>
                                    <i class="fas fa-minus-circle" *ngIf="pla.status == 'Inprogress'"></i>
                                  {{pla.status}}</td>
                        </tr>
                    </tbody>
                    <!-- week -->
                    <tbody>
                        <tr>
                        <td rowspan="7" style="border-right: 1px solid #dee2e6;">Week</td>
                        </tr>
                        <tr *ngFor = "let pla of planList">
                                <td style="text-align:center;">{{pla.plan_no}}</td>
                                <td>{{pla.plan_by}}</td>
                                <!-- <td>{{pla.date_from}} {{pla.date_to}}</td> -->
                                <td>{{pla.customer}}</td>
                                <td>{{pla.contact_person}}</td>
                                <td>{{pla.msg}}</td>
                                <td style="text-align:center;"><i class="fas fa-download"></i></td>
                                <!-- <td>{{pla.createdDate}}</td> -->
                                <td>
                                    <i class="fas fa-question-circle" *ngIf="pla.status == 'Pending'"></i>
                                    <i class="fas fa-check-circle" *ngIf="pla.status == 'Completed'"></i>
                                    <i class="fas fa-minus-circle" *ngIf="pla.status == 'Inprogress'"></i>
                                  {{pla.status}}</td>
                        </tr>
                    </tbody>
                    <!-- duration -->
                    <tbody>
                        <tr>
                        <td rowspan="7" style="border-right: 1px solid #dee2e6;">Duration</td>
                        </tr>
                        <tr *ngFor = "let pla of planList">
                                <td style="text-align:center;">{{pla.plan_no}}</td>
                                <td>{{pla.plan_by}}</td>
                                <!-- <td>{{pla.date_from}} {{pla.date_to}}</td> -->
                                <td>{{pla.customer}}</td>
                                <td>{{pla.contact_person}}</td>
                                <td>{{pla.msg}}</td>
                                <td style="text-align:center;"><i class="fas fa-download"></i></td>
                                <!-- <td>{{pla.createdDate}}</td> -->
                                <td>
                                    <i class="fas fa-question-circle" *ngIf="pla.status == 'Pending'"></i>
                                    <i class="fas fa-check-circle" *ngIf="pla.status == 'Completed'"></i>
                                    <i class="fas fa-minus-circle" *ngIf="pla.status == 'Inprogress'"></i>
                                  {{pla.status}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
              </div>
        </div>
      </div>
</div>
</div>