.badge-info{
    border-radius: 0px;
    padding: 0.4em;
    font-size: 0.7em;
    margin-right: 0.6em;
    background-color: #00bcd4!important
}
.badge-success{
    border-radius: 0px;
    padding: 0.4em;
    font-size: 0.7em;
    margin-right: 0.6em;
}
.badge-warning{
    color:white;
    border-radius: 0px;
    padding: 0.4em;
    font-size: 0.7em;
    margin-right: 0.6em;
}
.badge-danger{
    border-radius: 0px !important;
    padding: 0.4em;
    font-size: 0.7em;
    margin-right: 0.6em;
}
.badge-secondary{
    border-radius: 0px !important;
    padding: 0.4em;
    font-size: 0.7em;
    margin-right: 0.6em;
}