.custDetail{
    color: black;
      font-size: 0.75em;
      padding: 0.4rem 0.5rem;
      font-weight: 600;
  }
  label{
    font-size: 0.756em;
    font-weight: 600;
    display:flex;
    // margin-bottom: 0px !important;
}