<div class="content" style="padding-top:0.1em">
  <div class="row">
      <div class="col-md-12" style="padding:0.1em 8em;">
        <div class="card">
            <div class="customerHeader">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active custDetail" data-toggle="tab" href="#customer">Profile</a>
                    </li>
                  
                </ul>
              </div>
                <div class="card-body">
                    
                  <div class="tab-content">

                    <!-- profile-->
                    <div id="home" class="container tab-pane active" style=" padding-left: 2.5rem;padding-right: 0px;">
                        <div>
    <form>
      <div class="row">
          <div class="col md 6">
              <img  [src]="profileData.avatar" alt="Attached file" style="width: 100%">
              <div class="form-group">
                  <label>First Name</label>
                  <input type="text" class="form-control" [(ngModel)]="profileData.first_name" name="something">
              </div>
              <div class="form-group">
                  <label>Last Name </label>
                  <input type="email" class="form-control" [(ngModel)]="profileData.last_name" name="userId">
              </div>
              <div class="form-group">
                  <label>Id</label>
                  <input type="number" class="form-control" [(ngModel)]="profileData.id" name="phone">
              </div>
          </div>
          <div class="col md 6">
              
          </div>
      </div>
          
          
  </form>
</div>
                    </div>
                    <!-- prifile ends -->
                </div>
        </div>
      </div>
  
  </div>
</div>
</div>
