.login-logo {
    text-align: center;
    margin-bottom: 15px; }
    .login-logo span {
      color: #ffffff;
      font-size: 24px; }
  
  .login-content {
    max-width: 540px;
    margin: 8vh auto;
   }
  
  .login-form {
    background: #ffffff;
    padding: 30px 30px 20px;
    border-radius: 7px;
    width: 23em; 
    margin:auto;
    padding-bottom:0px !important;
  }

  .login-form label {
    color: black;
    font-size: 0.75em;
    /* text-transform: uppercase;  */
  }

  .form-control{
    font-size: 0.75rem;
    /* // width: 50%; */
    height: calc(2rem + 2px);
    padding: 0.12rem 0.4rem;
    
    }
    .form-group {
    margin-bottom: 0.5rem;
    }
  
  .login-form h4 {
    color: #878787;
    text-align: center;
    margin-bottom: 50px; }
  
  .login-form .checkbox {
    color: #878787; }
  
  .login-form .checkbox label {
    text-transform: none; 
    font-size: 0.8rem;
  }
  
  .login-form .btn {
    background-color: #1e5598;
    color:white;
    border-radius: 25px;
    margin-left:10%; 
    width: 78%;
    margin-top:1em;
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px;
    border: 0px; 
    margin-bottom:2.5em;}
  
  
  .login-form label a {
    color: red; 
    text-decoration: underline
  }
  .bg{
      background: linear-gradient(rgba(221, 134, 67, 0.3),rgba(243, 211, 136, 1)), url("/assets/images/openStreetMap.png")no-repeat;;
      min-height: -webkit-fill-available;
      background-size: cover;
  };
  