<div class="content">
    <div class="row">
        <div class="col-md-4 text-left">
            <h6 class="al-title">Data Table</h6>
        </div>
        
    </div>
        <div class="row">
            <div class="col md 2">
                    <h6>
                            <span class="badge badge-info">Total data: &nbsp; 3</span>
                    </h6>
            </div>
        </div>
        <div class="row" style="margin-bottom:0.7em;">
          <div class="col md 2"></div>
              <div class="col-md-10">
                   <button type="button" class="btn filter" (click)="sideNav.toggle()">Filters <i class="fa fa-filter"></i></button>
                   <div class="col-md-4 pull-right" style="padding-right:0px;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search for Customer..">
                    </div>
                   </div>
                  </div>
        </div>
        <mat-drawer-container>
            <mat-drawer #sideNav style="width: 40vmin;" mode="side" opened="false" [position]="nav_position">
              
              <div class="card" style="border:none;">
                <div class="card-header">Filters</div>
                <!-- <label>Your first ng-select</label> -->
                <ng-select [items]="cities"
                           bindLabel="name"
                           placeholder="Select Name"
                           [(ngModel)]="selectedCity">
                </ng-select>
                  <ng-select [items]="cities"
                           bindLabel="name"
                           placeholder="Select Custom2"
                           [(ngModel)]="selectedCity">
                  </ng-select>
                  </div>
          
            </mat-drawer>
            <mat-drawer-content>
<div class="animated fadeIn">
  <div class="row">
      <div class="col md 12">
          <div class="card">
              <div class="card-body" style="padding:0px;">
                <table class="table table-striped" style="font-size:0.756em">
                  <thead>
                      <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Year</th>
                          <th>Color</th>
                          <th>Pantone Value</th>
                      </tr>
                   </thead>
                  <tbody>
                      <tr *ngFor = "let cust of customerList">
                              <td>{{cust.id}}</td>
                              <td>{{cust.name}}</td>
                              <td>{{cust.year}}</td>
                              <td>{{cust.color}}</td>
                              <td>{{cust.pantone_value}}</td>
                      </tr>
                  </tbody>
              </table>
              </div>
            </div>
      </div>
  </div>
</div>
</mat-drawer-content>
</mat-drawer-container>
</div>

