<div class="content">
<div class="row">
  <div class="col-md-4 text-left">
      <h6 class="al-title">Visits</h6>
    </div>
</div>

<div class="row" style="margin-bottom:0.5em;">
  <div class="col md 2">
          <h6>
                  <span class="badge badge-info">Total Visits: &nbsp; 22</span>
                  <span class="badge badge-danger">Open Visits: &nbsp; 10</span>
                  <span class="badge badge-success">Closed Visits: &nbsp; 10</span>
                  <span class="badge badge-warning">Skipped Visits: &nbsp; 2</span>
          </h6>
  </div>
</div>
<div class="row" style="margin-bottom:0.7em;">
<div class="col md 2"></div>
    <div class="col-md-10">
            <button type="button" class="btn filter" (click)="sideNav1.toggle()">Filter  <i class="fas fa-filter"></i></button>
            <!-- <button type="button" class="btn filter" (click)="sideNav.toggle()">Creat Task  <i class="fas fa-tasks"></i></button> -->
            <!-- <span><div class="triangle-down"></div></span> -->
            <button type="button" class="btn filter" [routerLink] = "['/plan/creatPlan']" >Create Visits <i class="fas fa-map-marked-alt"></i></button>
            <button type="button" class="btn filter" [routerLink] = "['/plan/todayPlan']" >Today's Visits <i class="fas fa-map-marker-alt"></i></button>
            <button type="button" class="btn filter" [routerLink] = "['/plan/calender']">Calendar view <i class="fas fa-eye"></i></button>
            <div class="col-md-4 picker">
                <div class="input-group">
                    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control"
                        [showCancel]="true" [showClearButton]="false" [ranges]="ranges"
                        [alwaysShowCalendars]="true" [locale]="{format: 'DD-MM-YYYY'}" placeholder="Date" />
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                        </div>
                </div>
            </div>
            
        </div>
</div>
<mat-drawer-container>
  <mat-drawer #sideNav1 style="width: 40vmin;" mode="side" opened="false" [position]="nav_position">
    
    <div>
      <div class="card-header">Filters</div>
      <!-- <label>Your first ng-select</label> -->
             <ng-select [items]="cities"
                       bindLabel="name"
                       placeholder="Search by Plan Type"
                       [(ngModel)]="selectedCity">
            </ng-select>
      <div class="form-group" style="margin: 0.5em 0.7em;">
          <input type="text" class="form-control with-info-addon" placeholder="Search by Plan Number ..." style="padding:1rem 0.4rem;">
      </div>
      <div class="form-group" style="margin: 0.5em 0.7em;">
          <input type="text" class="form-control with-info-addon" placeholder="Search by Planned By ..." style="padding:1rem 0.4rem;">
      </div>
      <div class="form-group" style="margin: 0.5em 0.7em;">
            <input type="text" class="form-control with-info-addon" placeholder="Search by Customer ..." style="padding:1rem 0.4rem;">
      </div>
      <div class="form-group" style="margin: 0.5em 0.7em;">
            <input type="text" class="form-control with-info-addon" placeholder="Search by Contact Person ..." style="padding:1rem 0.4rem;">
        </div>
    </div>

  </mat-drawer>
<mat-drawer-content>

<div class="animated fadeIn">
    <div class="row">
        <div class="col md 12">
            <div class="card">
                <div class="card-body" style="padding:0px;">
                  <table class="table table-striped" style="font-size:0.7em">
                    <thead>
                        <tr>
                              <!-- <th>
                                  <div class="dropdown">
                                          <button class="btn addHeader" type="button" data-toggle="dropdown"><i class="fas fa-plus"></i>
                                          </button>
                                          <ul class="dropdown-menu">
                                            <li class="addDropdomn"><input type="checkbox" class="form-check-input" value="Custom1" [(ngModel)]="Custom1" >Custom1</li>
                                            <li class="addDropdomn"><input type="checkbox" class="form-check-input" value="Custom2" [(ngModel)]="Custom2" >Custom2</li>
                                            <li class="addDropdomn"><input type="checkbox" class="form-check-input" value="Custom3" [(ngModel)]="Custom3" >Custom3</li>
                                            <li class="addDropdomn"><input type="checkbox" class="form-check-input" value="Custom4" [(ngModel)]="Custom4" >Custom4</li>
                                            <li class="addDropdomn"><input type="checkbox" class="form-check-input" value="Custom5" [(ngModel)]="Custom5" >Custom5</li>
                                          </ul>
                                  </div>
                              </th> -->
                            <th>Plan Number</th>
                            <th>Plan Type</th>
                            <th>Planned By</th>
                            <th>Plan Date</th>
                            <th>Customer</th>
                            <th>Contact Person</th>
                            <th>Message</th>
                            <th>Attachement</th>
                            <th>Created Date</th>
                            <th>Status</th>
                            <!-- <th *ngIf="Custom2">Custom2</th>
                            <th *ngIf="Custom3">Custom3</th>
                            <th *ngIf="Custom4">Custom4</th>
                            <th *ngIf="Custom5">Custom5</th> -->
                            <!-- <th>Approved Amount</th> -->
                        </tr>
                     </thead>
                    <tbody>
                        <tr *ngFor = "let pla of planList">
                                <td style="text-align:center;">{{pla.plan_no}}</td>
                                <td>{{pla.plan_type}}</td>
                                <td>{{pla.plan_by}}</td>
                                <td>{{pla.date_from}} {{pla.date_to}}</td>
                                <td>{{pla.customer}}</td>
                                <td>{{pla.contact_person}}</td>
                                <td>{{pla.msg}}</td>
                                <td style="text-align:center;"><i class="fas fa-download"></i></td>
                                <td>{{pla.createdDate}}</td>
                                <td>
                                    <i class="fas fa-question-circle" *ngIf="pla.status == 'Pending'"></i>
                                    <i class="fas fa-check-circle" *ngIf="pla.status == 'Completed'"></i>
                                    <i class="fas fa-minus-circle" *ngIf="pla.status == 'Inprogress'"></i>
                                  {{pla.status}}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
              </div>
        </div>
      </div>
</div>
</mat-drawer-content>
</mat-drawer-container>
</div>
 