<div class="clearfix"></div>
<div class="app-body bg">
    <main class="main d-flex align-items-center" style="min-height:100vh;">
        <div class="container">
            <div class="login-content">

                <div class="alert alert-info alert-dismissible" style="width:23em;color: #dc3545;" *ngIf="loginErorMsg">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Info!</strong> {{errmsg}}.
                </div>

                <div class="login-form">
                    <div class="login-logo">
                        <img class="align-content img-responsive" src="./assets/images/angular-226066.png" width=100em;
                            height=auto; alt="logo">
                    </div>
                    <form >
                        <mat-form-field>
                            <input matInput placeholder="Enter your email"  [formControl]="email" required>
                            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="password.invalid">{{getPassErrorMessage()}}</mat-error>
                        </mat-form-field>
                        <div class="checkbox">
                            <label class="pull-right">
                                <a [routerLink]="['/ForgotPassword']">Forgot Password?</a>
                            </label>
                        </div><br>
                         <button type="button" class="btn btn btn-flat m-b-30 m-t-30" style="margin-bottom:2.5em;" [disabled]="!email.valid" (click)="login()">LOGIN</button> 
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>